MONGO_URL=mongodb://localhost:27017/shopdb
NEXT_PUBLIC_TAX_RATE=0.15
NEXTAUTH_SECRET=secret-word
NEXTAUTH_URL=http://localhost:3000


# Providers

GITHUB_ID=PongaAquiSuId
GITHUB_SECRET=PongaAquiSuSecret