# Providers

GITHUB_ID=PongaAquiSuId
GITHUB_SECRET=PongaAquiSuSecret


# Settings
NEXT_PUBLIC_TAX_RATE=0.15

# Next Auth
NEXTAUTH_SECRET=secret-word
NEXTAUTH_URL=http://localhost:3000

# Mongo DB
NEXT_MONGO_URL=mongodb://localhost:27017/dbName

# Providers Auth
GITHUB_ID=github-id
GITHUB_SECRET=github-secret

# Paypal
NEXT_PUBLIC_PAYPAL_CL=client-id
NEXT_PAYPAL_SE=secret-word
NEXT_PAYPAL_OAUTH_URL=https://una.direccion.com/v1/oauth2/token
NEXT_PAYPAL_ORDERS_URL=https://una.direccion.com/v2/checkout/orders